.card {
  background: white;
  margin: 0 0 15px 0;
  box-shadow: 3px 4px 6px 0 $border-color;

  .card-header {
    padding: 15px;
    border-bottom: 1px solid $border-color;
    background-color: $primary-color;
    color: white;
    font-weight: bold;
  }

  .card-body {
    padding: 10px 15px 10px 15px;

    .card-body-header {
      font-weight: bold;
      color: $primary-color;
    }
  }

  .card-footer {
    border-top: 1px solid $border-color;
    padding: 15px;
    display: flex;

    .card-footer-left {
      flex: 1 0 auto;
    }

    .card-footer-right {
      flex: 0 0 auto;
    }
  }
}
