.card {
  background: white;
  margin: 0 0 15px 0;
  box-shadow: 3px 4px 6px 0 $border-color;

  &.card-rounded {
    border-radius: 5px;
    overflow: hidden;
  }

  .card-header {
    padding: 15px;
    border-bottom: 1px solid $border-color;
    background-color: $primary-color;
    color: white;
    font-weight: bold;
  }

  .card-body {
    padding: 10px 15px;

    .card-body-header {
      font-weight: bold;
      color: $primary-color;
      margin: 10px 0 5px 0;
    }

    img.placeholder {
      display: block;
      margin: 0 auto 15px auto;
      width: 10vh;
    }
  }

  .card-footer {
    border-top: 1px solid $border-color;
    display: flex;

    .card-footer-left,
    .card-footer-right {
      padding: 15px;
      text-align: center;
    }

    .card-footer-left {
      flex: 1 0 50%;
      border-right: 1px solid $border-color;
    }

    .card-footer-right {
      flex: 0 0 50%;
    }

    .card-footer-full {
      flex: 1 0 100%;
    }
  }
}
