$outer-size: 26px;

.checkbox {
  position: relative;
  display: flex;
  width: 100%;
  padding: 0 0 0 35px;
  margin: 0 0 12px 0;
  cursor: pointer;
  user-select: none;
  height: 26px;
  align-items: center;

  input {
    opacity: 0;

    &:focus + span {
      color: red;
    }

    &:checked ~ span:before {
      display: block;
    }
  }

  span {
    position: absolute;
    cursor: pointer;
    width: $outer-size;
    height: $outer-size;
    top: 0;
    left: 0;
    border: 1px solid $primary-color;
    background-color: lighten($border-color, 20%);

    &::before {
      display: none;
      position: absolute;
      content: '';
      left: 9px;
      bottom: 7px;
      border: solid $primary-color;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
      height: 12px;
      width: 5px;
    }
  }
}
