a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &.link-main {
    color: $primary-color;

    &:visited {
      color: $primary-color;
    }
  }
  &.link-light {
    color: white;

    &:visited {
      color: white;
    }
  }
}
