// Font
$font-family: 'Montserrat', sans-serif !default;

// Site Colors
$primary-color: #0960a5 !default;
$primary-font: white !default;

$secondary-color: #2677b5 !default;
$secondary-font: white !default;

$background-color: rgb(215, 226, 255) !default;
$border-color: rgb(167, 165, 165) !default;

$success: green !default;
$danger: #cc0000 !default;

// Header
$header-height: 45px !default;

// Side Nav
$side-nav-link-height: 35px !default;

// Footer
$footer-height: 35px !default;
$footer-background: $primary-color !default;

// General
$breakpoints: (
  xs: 300px,
  sm: 700px,
  md: 1000px,
  lg: 1200px
) !default;
